@font-face {
    font-family: 'Segoe UI';
    src: url('../font/SegoeUI-Regular.woff2') format('woff2'),
        url('../font/SegoeUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../font/SegoeUI-Light.woff2') format('woff2'),
        url('../font/SegoeUI-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../font/SegoeUI-Bold.woff2') format('woff2'),
        url('../font/SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'FontAwesome';
    src: url('../font/FontAwesome.woff2') format('woff2'),
        url('../font/FontAwesome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../font/FontAwesome.woff2') format('woff2'),
        url('../font/FontAwesome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../font/FontAwesome.woff2') format('woff2'),
        url('../font/FontAwesome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



#scroll {position:fixed;right:40px;bottom:20px;cursor:pointer;width:40px;height:40px;background-color:transparent;text-indent:-9999px;display:none;-webkit-border-radius:60px;-moz-border-radius:60px;border-radius:6px;border: 1px solid #10303F; }
#scroll:hover{}
#scroll span {position:absolute;top:50%;left:50%;margin-left:-8px;margin-top:-12px;height:0;width:0;border:8px solid transparent;border-bottom-color:#10303F;}
#scroll:hover {background-color:transparent;border-color:#D17C0D;transition: 0.25s ease; opacity:1;filter:"alpha(opacity=100)";-ms-filter:"alpha(opacity=100)";}
#scroll:hover span{border-bottom-color:#D17C0D;transition: 0.25s ease;}

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-image: -webkit-linear-gradient(330deg, #10313E 0%, #020000 100%);background-image: linear-gradient(120deg, #10313E 0%, #020000 100%); }
.thin::-webkit-scrollbar {width: 6px; }

a:hover{text-decoration: none!important}

header{padding-top: 80px;background: #10303F;}
header .HeaderTop h1{font-size: 20px;line-height: 40px;font-family: 'Segoe UI';font-weight: 300;color: #FFFFFF;text-transform: uppercase;margin-bottom: 0px;margin-top: 0px;   }
header .HeaderBottomCenter .SearchInput{padding: 6px;width: 495px;color: #000;border: 5px solid #d7c1c1a3;outline:5px solid #41545D;font-size: 20px;line-height: 19px;font-family: 'Segoe UI';font-weight: 400;}
header .HeaderBottomCenter .Search .fa-search{position: absolute;right: 5px;top: 0;padding: 10px;transform: rotate(90deg);font-size: 30px;}
header .HeaderBottomCenter .Search{position: relative;margin-left: auto}
header .HeaderBottomCenter .Icons .fa-bell{font-size: 55px;color: #ffffff;margin: 0px 20px;margin-bottom: 20px}
header .HeaderBottomCenter .Icons .fa-cog{font-size: 55px;color: #ffffff;margin: 0px 20px;margin-bottom: 20px;}
header .HeaderBottomCenter .Icons .badge-Box{position: relative;}
header .HeaderBottomCenter .Icons .badge-Box .badge {position: absolute;right: 9px;bottom: 25px;font-size: 40%!important;border-radius: 50px;}
header .HeaderBottomCenter .Icons .badge-Box .badge-secondary {color: #fff;background-color: #D17C0D!important;}
header .HeaderBottomCenter .Icons i{color: #fff;}
header .HeaderBottomCenter .Icons{margin-right: 50px;margin-left: auto}
header .HeaderBottomCenter .Icon{margin-left: unset;visibility: hidden;}
header .HeaderBottomCenter{position: relative;margin-bottom: -50px;}
header .HeaderBottomCenter .People{margin-right: 20px;}





.Main .MainLeft{background:#E4E4E4;padding-right: 46px!important;padding-top: 55px!important;padding-left: 0px!important;position: relative;}
.Main .MainLeft .MainLeftInner{background: #10303F;padding-top: 70px;border: 2px solid #423050;height: 100%;padding-left: 30px;
padding-right: 30px;}
.Main .MainLeft .MainLeftInner .RemainingQuestion p{font-size: 19px;line-height: 28px;font-family: 'Segoe UI';font-weight: 400;color: #D17C0D;margin-bottom: 0px}
.Main .MainLeft .MainLeftInner .RemainingQuestion .Msg{margin-top: auto;margin-bottom: auto;margin-right: 10px;}
.Main .MainLeft .MainLeftInner .RemainingQuestion{padding-right: 45px;margin-bottom: 65px;}
.Main .MainLeft .LastQuestion .LastQuestionBox{padding: 15px 15px;border: 4px solid #580816;border-radius: 30px;background: #ffffff;margin-bottom: 65px;}
.Main .MainLeft .LastQuestion p{font-size: 20px;font-weight: bold;line-height: 27px;font-family: 'Segoe UI';text-align: center;color: #ffffff;margin-bottom: 10px;}
.Main .MainLeft .LastQuestion .LastQuestionBox p{color: #10303F;font-size: 10px;line-height: 13px;font-weight: bold;font-family: 'Segoe UI';margin-bottom: 0px;text-align: left;}
.Main .MainLeft .LastQuestion .LastQuestionBox p span{color:#707070;font-size: 9px;line-height: 8px;font-weight: 400;font-family: 'Segoe UI';}
.Main .MainLeft .LastQuestion .LastQuestionBox .User .ProfileName{margin-left: 7px;}
.Main .MainLeft .LastQuestion .LastQuestionBox .MP .MPProfileName{margin-right: 7px;}
.Main .MainLeft .LastQuestion .LastQuestionBox .MP .MPProfileName p span{color: #0D5D83;text-align: right!important}
.Main .MainLeft .LastQuestion .LastQuestionBox .MPProfileName p{text-align: right}
.Main .MainLeft .LastQuestion .LastQuestionBox .Comments p{font-size: 18px;line-height: 22px;font-weight: 400;font-family: 'Segoe UI';color: #0D0D0D;display: inline;}
.Main .MainLeft .LastQuestion .LastQuestionBox .Comments button{text-decoration: none;cursor: pointer;font-size: 12px;font-weight: bold;line-height: 15px;color: #10303F;margin-left: 5px;font-family: 'Segoe UI';background: transparent;border: none;}
.Main .MainLeft .LastQuestion .LastQuestionBox .Comments button:focus{outline: none;}
.Main .MainLeft .LastQuestion .LastQuestionBox .Comments #more{display: none}
.Main .MainLeft .LastQuestion .LastQuestionBox .Row1{margin-bottom: 10px;}
.Main .MainLeft .LastQuestion .LastQuestionBox .Row2{margin-bottom: 25px;}
.Main .MainLeft .LastQuestion .LastQuestionBox .Row3 .Social{padding: 0px 20px;}
.Main .MainLeft .LastQuestion .LastQuestionBox .Row3 .Social i{color: #10303F}
.Main .MainLeft .LastQuestion .LastQuestionBox .Row3 .Social span{font-size: 11px;font-weight: 400;line-height: 14px;color: #10303F;font-family: 'Segoe UI';margin-left: 3px;}
.Main .MainLeft .LastQuestion .LastQuestionBox .Row3 .Social .Loud{cursor: pointer}
.Main .MainLeft .LastQuestion .LastQuestionBox .Row3 .Social .Loud i{transform: rotate(90deg);}
.Main .MainLeft .LastQuestion .LastQuestionBox .Row3 .Social .LoadBG i{color: #000;font-weight: 600}
.Main .MainLeft .LastQuestion .LastQuestionBox .Row3 .Social .LoadBG span{color: #000;font-weight: 600;}
.Main .MainLeft .MainLeftInner .ListOfQuestions ul{padding: 0;margin: 0;list-style-type: none;}
.Main .MainLeft .MainLeftInner .ListOfQuestions ul li{position: relative;padding-left: 25px;cursor: pointer}
.Main .MainLeft .MainLeftInner .ListOfQuestions ul li:before{position: absolute;content: "\f06e";display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;left: 0;top: 5px;color: #EEE6E6; }

.Main .MainLeft .MainLeftInner .ListOfQuestions ul li a{text-decoration: none;color: #EEE6E6;font-size: 20px;line-height: 27px;font-weight: bold;font-family: 'Segoe UI';cursor: pointer}

.Main .MainLeft .Inner-Logo{position: absolute;left: 0;right: 0;margin: auto;top: -130px;}
.Main .MainCenter{border: 1px solid #707070;padding: 0px;}
.Main .MainCenter .Nav1{margin-top: 20px;margin-bottom: 25px;padding: 0px 15px;}
.Main .MainCenter .Nav1 ul{margin: 0;padding: 0;border: none}
.Main .MainCenter .Nav1 ul li{box-shadow:5px 10px 40px 0px #00000066;cursor: pointer}
.Main .MainCenter .Nav1 ul li a{list-style-type: none;color: #707070;font-size: 18px;font-weight: 400;line-height: 15px;font-family: 'Segoe UI';}
.Main .MainCenter .Nav1 ul li:hover{background: #D17C0D;color: #fff;transition: 0.25s ease;}
.Main .MainCenter .Nav1 ul li:hover a{color: #fff;transition: 0.25s ease;}
.Main .MainCenter .Nav1 ul li .active{background: #D17C0D;color: #fff;}
.Main .MainCenter .Nav1 ul li a{text-decoration: none;padding: 7px 60px;color: #707070;background: #000;}
.Main .MainCenter .Ask{border-radius: 85px;border:10px solid #10303F;background: #ECECEC;padding-bottom: 45px;padding-left: 15px;
padding-right: 15px;margin-bottom: 10px;}
.Main .MainCenter .Ask .Address{float: right;margin-right: 40px;margin-top: 5px;padding-right: 218px;height: 41px;border-radius: 50px;border: 1px solid #7070708f;background: #E5E2E2;padding-left: 15px;font-size: 20px;line-height: 17px;font-weight: 400;color: #0D0D0D;font-family: 'Segoe UI'; }
.Main .MainCenter .Ask .AskQuestion{margin-top: 5px;height: 295px;width: 100%;border-radius: 50px;border: 1px solid #7070708f;background: #D4D4D4;font-size: 20px;line-height: 17px;font-weight: 400;color: #0D0D0D;text-align: center}
.Main .MainCenter .Ask .AskQuestion:focus,.Main .MainCenter .Ask .Address:focus{outline: none;background: #ffffff6b;transition: 0.25s ease;}
.Main .MainCenter .Ask .AskButton{background: #D17C0D;color: #10303F;border: 1px solid #707070;border-radius: 50px;padding: 5px 31px;float: right;margin-right: 40px;margin-top: 5px;font-size: 16px;font-family: 'Segoe UI';line-height: 22px}
.Main .MainCenter .Ask .AskButton:hover{background: #fff;color: #D17C0D;transition: 0.25s ease;}
.Main .MainRight{background: #E4E4E4;z-index: -9}
.Main .MainRight nav{padding: 100px 65px 0px 50px;}
.Main .MainRight nav ul{padding: 0px;margin: 0px;}
.Main .MainRight nav ul li{list-style-type: none;margin-bottom: 30px;padding-bottom: 10px;border-bottom: 1px solid #707070;}
.Main .MainRight nav ul li a{font-size: 20px;line-height: 22px;font-weight: bold;color: #D17C0D;}
.Main .MainRight nav ul li:hover a{color: #333;transition: 0.25s ease;}
.Main .MainCenter .FilterBar{padding: 10px 15px;background: #000;color: #fff;}
.Main .MainCenter .FilterBar .Nav2 ul li{margin: 0px 40px;}
.Main .MainCenter .FilterBar .Nav2 ul{border: none;}
.Main .MainCenter .FilterBar .Nav2 ul li a{font-size: 16px;color: #fff;line-height: 18px;font-weight: bold;font-family: 'Segoe UI'; }
.Main .MainCenter .FilterBar .SearchMps .SearchMp{padding: 6px;width: 244px;color: #000;border: 5px solid #d7c1c1a3;outline: 5px solid #a5a5a5;font-size: 15px;line-height: 7px;height: 34px;font-family: 'Segoe UI';font-weight: 400;}
.Main .MainCenter .FilterBar .SearchMps{position: relative;}
.Main .MainCenter .FilterBar .SearchMps .fa-search{position: absolute;right: 5px;top: 0;padding: 7px;transform: rotate(90deg);font-size: 20px;color: #707070;}
.Main .MainCenter .FilterBar span{font-size: 16px;line-height: 18px;color: #a5a5a5;font-weight: bold;font-family: 'Segoe UI'; }
.Main .MainCenter .tab-content .QuestionAnswer{background: #E4E4E4;padding-bottom: 15px;}
.Main .MainCenter .tab-content .QuestionAnswer .Public h3{border-bottom: 1px solid #707070;}
.Main .MainCenter .tab-content .QuestionAnswer .Public{padding-top: 20px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerTitle h3{font-size: 20px;line-height: 22px;font-weight: 400;color: #10303F;font-family: 'Segoe UI';text-align: center;text-transform: uppercase;opacity: .6;margin: 0;padding: 10px 0px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox1{margin-top: 0px!important;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox{background: #fff;border-radius: 60px; margin-top: 30px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .Top{padding-left: 40px;padding-top: 10px;padding-bottom: 5px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox{padding: 0px 20px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .MPName{font-size: 18px;font-weight: bold;line-height: 30px;font-family: 'Segoe UI';color: #0D5D83}


.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .Top .OnhoverGroup:hover .OnhoverMP{display: block;}

.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .Top .OnhoverGroup{position: relative}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .OnhoverMP{display: none;transition: 0.25s ease;transition: 0.25s ease;
    position: absolute;left: 0;right: 36%;margin: auto;padding: 0;background: #10303F;width: 170px;list-style-type: none;padding: 12px;margin-top: -5px;}

.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .OnhoverMP li a{color: #fff;font-size: 14px;line-height: 20px;font-family: 'Segoe UI';}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .MPOnhover{position: relative;}
/*.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .MPOnhover:hover .OnhoverMP{display: block!imporatnt;transition: 0.25s ease;position: absolute;left: 0;top:0;background: #10303F;}*/
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .Title{font-size: 18px;font-weight: bold;line-height: 30px;font-family: 'Segoe UI';color: #7A8990}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox{padding-top: 10px;padding-bottom: 10px;background: #ffffff;border-radius: 50px;border: 4px solid #580816;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1{margin-bottom: 15px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .UserProfile  .UserTitle p{margin: 0;color: #10303F;font-weight: bold;font-size: 16px;line-height: 19px;font-family: 'Segoe UI';}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .UserProfile  .UserTitle span{margin: 0;color: #a5a5a5;font-weight: 400;font-size: 12px;line-height: 15px;font-family: 'Segoe UI';}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .UserProfile  .UserTitle{margin-left: 15px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .UnansweredBy .Title{margin: 0;color:   #10303F;font-weight: bold;font-size: 20px;line-height: 24px;font-family: 'Segoe UI';margin-right: 7px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .UnansweredBy .MP{margin: 0;color: #0D5D83;font-weight: bold;font-size: 18px;line-height: 30px;font-family: 'Segoe UI';margin-right: 15px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .AskFollowUp i{font-size: 24px;line-height: 23px;color: #10303F;margin-right: 10px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .AskFollowUp span{font-size: 14px;line-height: 18px;color:#10303F;font-family: 'Segoe UI';font-weight: bold; }
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .ViewMoreIcon{position: absolute;right: 20px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .ViewMoreIcon .Menu1{display: none;left: -120px;top: 10px;position: absolute;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .ViewMoreIcon .Option1{display: block!important}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .ViewMoreIcon .Menu2{display: none;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .ViewMoreIcon .MenuShow{display: block}

.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .ViewMoreIcon .Menu1 ul{padding: 0;margin: 0;list-style: none;box-shadow: 5px 10px 40px 0px #00000066;z-index: 99999;background: #fff}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .ViewMoreIcon .Menu1 ul li{border-bottom: 1px solid #A59F9F;width: 100%;padding: 6px 65px 6px 8px;z-index: 99999;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .ViewMoreIcon .Menu1 ul li a{text-decoration: none;font-size: 18px;font-weight: 400;line-height: 30px;color: #010B0F;font-family: 'Segoe UI';}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .ViewMoreIcon .Menu1 ul .active1 a{color: #EE0C0C}

.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row2 .Comments #more1{display: none}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row2 .Comments p{font-size: 21px;line-height: 24px;font-weight: 400;color: #0D0D0D;font-family: 'Segoe UI';display: inline;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row2 .Comments button{background: transparent;border: none;font-size: 16px;color: #10303F;line-height: 19px;font-weight: bold;font-family: 'Segoe UI';}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row2 .Comments button:focus{outline: none}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row2{margin-bottom: 25px;}

.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3{margin-bottom: 0px;padding-left: 20px;padding-right: 30px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Loud a{padding: 3px 10px;background: #0e2e3e1f;border-radius: 40px;cursor: pointer}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Loud .Numbers{font-weight: 400;position: relative;padding-left: 8px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Loud .Numbers:before{content: '';position: absolute;left: 0;top: 0;background: #0E2E3E;height: 18px;width: 2px;bottom: 0;margin: auto;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Loud span{font-size: 14px;line-height: 18px;font-weight: bold;font-family: 'Segoe UI';color: #10303F;}

.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Comments span{font-size: 14px;font-weight: bold;line-height: 18px;color: #10303F;text-transform: uppercase;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Comments .Numbers{font-weight: 400;margin-left: 8px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Comments i{font-size: 20px;color: #10303F;}

.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Share i{font-size: 20px;color:#10303F;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Share span{font-size: 14px;font-weight: bold;line-height: 18px;color: #10303F;text-transform: uppercase;}

.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Share .Numbers{font-weight: 400;margin-left: 8px;}

.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Loud .MadeLouder i{transform: rotate(90deg);color: #10303F;}

.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Loud .MadeLouderBG{background: #0E2E3E;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Loud .MadeLouderBG span, .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Loud .MadeLouderBG i{color: #E9F0F3}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Loud .MadeLouderBG .Numbers:before{background: #E9F0F3}

.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .AnswerQuestion a{padding: 3px 10px;background: #0e2e3e1f;border-radius: 40px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .AnswerQuestion a{font-size: 10px;
    line-height: 18px;font-weight: bold;font-family: 'Segoe UI';color: #10303F;text-transform: uppercase;}

.carousel-caption{position: unset!important;color: #000!important;padding-top: 0px!important;padding-bottom: 0px!important}
.carousel-inner{background: #10303F}
.carousel-caption .Row1{padding: 0px 50px;padding-top: 55px;}
.carousel-caption .Row1:last-child{padding-bottom: 55px;}
.carousel-caption .Row1 .RowBox{margin: auto;}
.carousel-caption .Row1 .RowBox .Dimmer:before{content: '';position: absolute;top: 0;left: 0;height: 117px;width: 117px;background: #000;border-radius: 100%;z-index: 9999;opacity: .5}
.carousel-caption .Row1 .RowBox .Dimmer{position: relative;}
.carousel-caption .Row1 .RowBox .RowTitle{text-align: left;margin-left: 10px;}
.carousel-caption .Row1 .RowBox .RowTitle p{font-size: 18px;color: #fff;line-height: 30px;font-weight: 400; margin-bottom: 0px;font-family: 'Segoe UI';}
.carousel-caption .Row1 .RowBox .RowTitle p span{font-size: 11px;color: #a5a5a5;line-height: 18px;font-weight: 400; margin-bottom: 0px;font-family: 'Segoe UI';}
.carousel-caption .Row1 .RowBox .RowTitle p:last-child{line-height: 0;}

.carousel-control-next-icon{background-image:url("../image/slider-arrow.png")!important;}
.carousel-control-next-icon, .carousel-control-prev-icon{width: 21%!important;height: 11%!important;z-index: 999999999!important;position: absolute;right: 0px;left: 90px;margin: 15% 0%;}
.carousel-control-next, .carousel-control-prev{opacity: 1!important}
.carousel-control-prev{display: none!important;}
/*.carousel-caption .Row1 .RowBox:hover .SliderImage{transform: scale(1.1);transition: 0.25s ease;}*/
/*.carousel-caption .Row1 .RowBox .SliderImage{position: relative;transform: scale(1.0);overflow: hidden}*/
.Main  .MainCenter .Nav2 ul li{cursor: pointer}
.Main  .MainCenter .Nav2 ul .FilterActive a{color: #D17C0D!important;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1{padding-right: 45px;}




.GiveAnswer .AskFollowUp{background: #fff;
    border: 4px solid #A10101;
    border-radius: 50px;
    margin-top: 20px;
    padding: 20px 30px;}

.GiveAnswer .AskFollowUp .Profile{display: flex;
    align-items: center;
    justify-content: flex-start;}

.GiveAnswer .AskFollowUp .Profile .UserTitle{margin-left: 15px;}
.GiveAnswer .AskFollowUp .Profile .UserTitle a p{margin: 0;}

.GiveAnswer .AskFollowUpTitle{display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;}

.GiveAnswer .AskFollowUpTitle p{margin: 0;}

.GiveAnswer .AskFollowUpAnswerBox textarea{width: 100%;overflow: hidden;
    border-radius: 60px;
    padding-top: 20px;
    border-color: #707070;
    border: 1px solid;
    padding-bottom: 262px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;}




.GiveAnswer .AskFollowUpSubmit{margin-bottom: 50px;}

.GiveAnswer .AskFollowUpSubmit a:hover{color:#D17C0D;background:#ffffff;transition: 0.25s ease;border: 1px solid #D17C0D; }
.GiveAnswer .AskFollowUpSubmit a{background: #D17C0D;
    color: #ffffff;
    border-radius: 12px;
    padding: 8px 20px;
    float: right;
    margin-right: 40px;
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Segoe UI';
    line-height: 22px;}




.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .AskFollowUp span, .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .AskFollowUp i{cursor: pointer;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .AnswerQuestion .AnswerToggle{cursor: pointer;}

.GiveAnswer {display: none;transition: 0.25s ease;}
.GiveAnswerBox{display: block;transition: 0.25s ease;}
.GiveAnswer .AskFollowUp .AskFollowUpTitle p{font-size: 25px;line-height: 35px;color: #580816;font-family: 'Segoe UI';font-weight: 700;margin-bottom: 10px;}
.GiveAnswer .AskFollowUp .AskFollowUpAnswerBox textarea:focus{outline: none;}
.GiveAnswer .AskFollowUp .Profile .UserTitle a p{font-size: 16px;line-height: 22px;color: #10303F;font-weight: bold;font-family: 'Segoe UI';}
.GiveAnswer .AskFollowUp .Profile .UserTitle a:hover{color: unset;}
.GiveAnswer .CommentsBox{padding: 20px 28px;}
.GiveAnswer .comments .EnterComments .AddComment{width: 100%;margin-left: 20px;background: transparent;border-bottom: 1px solid #707070!important; outline: none;box-shadow: none;border: none;font-family: 'Segoe UI';font-weight: normal;}
.GiveAnswer .comments .EnterComments .AddComment::placeholder{color:#969696;font-family: 'Segoe UI';font-weight: normal;font-size: 18px;line-height: 22px;font-size: 18px;}

.GiveAnswer .comments .EnterComments i{padding-left: 30px;font-size: 22px;}
.GiveAnswer .comments .EnterComments img{max-height: 34px;}
.GiveAnswer .CommentsBox .CommentList{padding: 0;margin: 0;padding-top: 35px;}
.GiveAnswer .CommentsBox .CommentList .CommentedProfile{ margin-left: 6px;margin-right: 35px;}
.GiveAnswer .CommentsBox .CommentList .CommentedProfile img{min-height: 21px;}
.GiveAnswer .CommentsBox .CommentList .Commented .CommentedUser{margin-bottom: 15px;font-size: 14px;line-height: 17px;font-family: 'Segoe UI';font-weight: normal;color: #0D0D0D;}
.GiveAnswer .CommentsBox .CommentList .Commented .CommentedCaption{font-size: 18px;line-height: 22px;font-family: 'Segoe UI';font-weight: normal;color: #0D0D0D;margin-bottom: 10px;}
.GiveAnswer .CommentsBox .CommentList .Social .Like i{color: #000000;}
.GiveAnswer .CommentsBox .CommentList .Social .Like span:last-child, .GiveAnswer .CommentsBox .CommentList .Social .Like .First, .GiveAnswer .CommentsBox .CommentList .Social .Reply .First{color: #434343;font-size: 14px;line-height: 17px;font-weight: normal;font-family: 'Segoe UI';}
.GiveAnswer .CommentsBox .CommentList .Social .Like span:last-child{color:#9B9B9B; }

.GiveAnswer .CommentsBox .CommentList .Social .Like .First{margin-left: 7px;margin-right: 5px;}
.GiveAnswer .CommentsBox .CommentList .Social .Reply .First{margin-left: 5px;margin-right: 0px;}
.GiveAnswer .CommentsBox .CommentList .Social .Reply{margin-left: 20px}
header .HeaderBottomCenter .Icons .NotificationBadgeCircle span{display: none!important;}
header .HeaderBottomCenter .UlNotification, header .HeaderBottomCenter UlSetting {display: block!important;}

.Nav3{display: none}
header .HeaderBottomCenter .UlNotification{background: #C6C6C6;margin: 0;padding: 0;list-style: none;color: #fff;font-size: 17px;position: absolute;
    z-index: 999;right: 10px;display: block!important;transition: 0.25s ease;}
    header .HeaderBottomCenter .UlNotification li{width: 100%;cursor: pointer;
    background: #ffffff;
    padding: 5px 5px 5px 5px;
    margin-bottom: 3px;}
    header .HeaderBottomCenter .UlNotification li:first-child{background: #ffffff   ;color: #fff!important;} 
   header .HeaderBottomCenter .UlNotification li a{ line-height: 28px;font-size: 17px!important;color: #525256;
    font-family: 'Segoe UI';
    font-weight: 400;
    padding-right: 30px!important;}
    header .HeaderBottomCenter .UlNotification{transition: 0.25s ease;align-items: flex-start;justify-content: flex-start;flex-direction: column;width: 22%;box-shadow: 0px 0px 25px 25px #00000066;}
    header .HeaderBottomCenter .UlNotification li a:hover{text-decoration: none;transition: 0.25s ease;color: #000!important}
    header .HeaderBottomCenter .UlNotification li, header .HeaderBottomCenter .UlSetting li{color: #000;}
    
    
    header .HeaderBottomCenter .UlNotification li:last-child{margin-bottom: 0px; background: #EFEFEF}
    header .HeaderBottomCenter .UlNotification li:first-child span:first-child{font-weight: 400;font-family: 'Segoe UI';font-size: 17px;color: #10303F}
    header .HeaderBottomCenter .UlNotification li:first-child span:last-child{font-size: 17px;font-family: 'Segoe UI';font-weight: 600;cursor: pointer;color: #10303F}
    header .HeaderBottomCenter .UlNotification li:nth-child(2){background: #EFEFEF }
    .ActiveArrow:after{position: absolute;right: 0;content: '';width: 0;height: 0;border-left: 45px solid transparent;border-right: 45px solid transparent;
    border-top: 40px solid #fff;bottom: -66px;left: 0;margin: auto;z-index: 9999;}

.Main .MainLeft .LongTime p{font-size: 28px;line-height: 38px;font-family: bold;font-family: 'Segoe UI';color: #D17C0D;text-align: center;margin-bottom: 0;}
.Main .MainLeft .LongTime{margin-bottom: 65px;display: block}

.AnswerQuestionBox .AskFollowUp{border-color: #085820!important}
.AnswerQuestionBox .AskFollowUpTitle p{color: #085820!important}
img, i{cursor: pointer!important}

/*new css*/



.Nav4{display: none}
header .HeaderBottomCenter .UlSetting{background: #C6C6C6;margin: 0;padding: 0;list-style: none;color: #fff;font-size: 17px;position: absolute;
    z-index: 999;right: 10px;display: block!important;transition: 0.25s ease;} 
header .HeaderBottomCenter .UlSetting li{width: 100%;cursor: pointer;background: #ffffff;padding: 5px 5px 5px 5px;margin-bottom: 3px;}
header .HeaderBottomCenter .UlSetting li a{ line-height: 28px;font-size: 17px;color: #525256;font-family: 'Segoe UI';font-weight: 400;padding-right: 30px!important;}
header .HeaderBottomCenter .UlSetting{transition: 0.25s ease;display: flex!important;align-items: flex-start;justify-content: flex-start;flex-direction: column;width: 22%;box-shadow: 0px 0px 25px 25px #00000066;}
header .HeaderBottomCenter .UlSetting li a:hover{text-decoration: none;transition: 0.25s ease;color: #000!important}
header .HeaderBottomCenter .Icons .fa-cog{position: relative;}
header .HeaderBottomCenter .Icons .fa-cog:after{bottom: -60px;left: -15px;}
 header .HeaderBottomCenter .Nav4 .BGList{background: #EFEFEF!important;}
.Main .MainCenter .Nav1 .UlHome{box-shadow: 0px 0px 25px 25px #00000066!important;}
.Main .MainCenter .FilterBar .Nav5 ul li i{font-size: 12px;color: #999898;
    margin-left: 2px;}
.Main .MainCenter .FilterBar .Nav5 li a{font-weight: 500!important;}
.Main .MainCenter .FilterBar .Nav5 .FilterActive a{color: #ffffff!important;font-weight: bold!important;}
.Main .MainCenter .FilterBar .SearchMps .SearchAnswredQ{width: 390px}
header .HeaderBottomCenter .UlSetting li:last-child{margin-bottom: 0px;}
.Main .MainCenter .CitizenBar .Nav2 ul li{margin: 0px 20px;}
.Main .MainCenter .CitizenBar .Nav2 ul li:first-child{margin-left: 0px;}
.Main .MainCenter .CitizenBar .Nav2 ul li:last-child{margin-right: 0px;}
.Main .MainCenter .CitizenBar .Nav2{margin: 0px 22px;}
.Main .MainCenter .CitizenBar span:nth-child(3){font-weight: normal;}

.Main .MainCenter .CitizenPage{background: #10303F;padding-top: 25px;padding-bottom: 25px;padding-left: 56px;padding-right: 56px;position: relative;}
.Main .MainCenter .CitizenPage .Row1 .ProfileBlock .Block1 .BlockImg img{height: 122px;width: 122px;}
.Main .MainCenter .CitizenPage .Row1 .ProfileBlock .Block1 .BlockCaption{color: #fff;display: flex;align-items: flex-start;justify-content: center;flex-direction: column;margin-left: 5px;}
.Main .MainCenter .CitizenPage .Row1 .ProfileBlock .Block1 .BlockCaption h2{font-size: 20px;line-height: 32px;color: #ffffff;font-weight: lighter;margin-bottom: 2px;margin-top: 0px;}
.Main .MainCenter .CitizenPage .Row1 .ProfileBlock .Block1 .BlockCaption p{font-size: 14px;line-height: 19px;color: #9DAAB0;font-weight: lighter;margin-bottom: 1px;}
.Main .MainCenter .CitizenPage .Row1 .ProfileBlock .Block1 .BlockCaption .Following{border-color: #D17C0D!important;}
.Main .MainCenter .CitizenPage .Row1 .ProfileBlock .Block1 .BlockCaption .Followed{background: #D17C0D;border-color: #D17C0D;}
.Main .MainCenter .CitizenPage .Row1 .ProfileBlock .Block1 .BlockCaption .Follow{font-size: 9px;line-height: 12px;padding: 5px 7px 2px 7px;border: 2px solid transparent;
border-radius: 30px;text-transform: uppercase;margin-top: 2px;margin-left: -2px;font-weight: normal;}
.Main .MainCenter .CitizenPage .Row1 .ProfileBlock{width: 500px;;align-items: flex-start;display: flex;}
.Main .MainCenter .CitizenPage .Row1{margin-bottom: 20px;}
.Main .MainCenter .CitizenPage .Row1 .ProfileBlock .Block1 .BlockCaption .Follow{cursor: pointer;}
.Main .MainCenter .CitizenPage .Row1 .ProfileBlock .Block1 .BlockCaption .Follow span:last-child{margin-left: 12px;position: relative}
.Main .MainCenter .CitizenPage .Row1 .ProfileBlock .Block1 .BlockCaption .Follow span:last-child:before{position: absolute;left: -6px;top: 0;bottom: 0;width: 1px;height: 20px;background: #ffffff;content: '';margin: auto}
.Main .MainCenter .CitizenPage .SliderArrowCitizen .arrows{position: absolute;top: 0;bottom: 0;margin: auto;}
.Main .MainCenter .CitizenPage .SliderArrowCitizen .arrows-left{left: 10px;transform: rotate(180deg)}
.Main .MainCenter .CitizenPage .SliderArrowCitizen .arrows-right{right: 10px;}
.Main .MainCenter .CitizenPage .Row1 .ProfileBlock1:first-child{justify-content: flex-start}
.Main .MainCenter .CitizenPage .Row1 .ProfileBlock:nth-child(2){justify-content: center;}
.Main .MainCenter .CitizenPage .Row1 .ProfileBlock:nth-child(3){justify-content: flex-end;}



/*newcss*/

.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .AnsweredBy{padding: 0!important;margin: 0;margin-top: 45px;margin-bottom: 45px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .AnsweredByComments{margin-bottom: 30px}

.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row2 .AnsweredByBox{display: none;}





/*EditProfilecss*/

.Main .MainLeft .ProfileLeft .User img{margin-bottom: 15px;}
.Main .MainLeft .ProfileLeft .User p{font-size: 17px;line-height: 22px;color: #ACB7BC;font-family: 'Segoe UI';font-weight: 300;margin-bottom: 0;}
.Main .MainLeft .ProfileLeft .User h3{font-size: 30px;line-height: 40px;color: #FFFFFF;font-family: 'Segoe UI';font-weight: normal;margin-bottom: 0;margin-top: 0;}
.Main .MainLeft .ProfileLeft .Title{font-size: 20px;line-height: 27px;color: #9DAAB0;font-family: 'Segoe UI';font-weight: 300;margin-bottom: 0;}
.Main .MainLeft .ProfileLeft .TitleBold{font-size: 20px;line-height: 27px;color: #F7F0F0;font-family: 'Segoe UI';font-weight: bold;margin-bottom: 0;}
.Main .MainLeft .EditProfileMain{padding-top: 15px!important;}
.Main .MainLeft .EditProfileMain .ListOfQuestions{padding-left: 15px;}
.Main .MainLeft .ProfileLeft .EditProfile{padding-left: 15px;}
.Main .MainLeft .ProfileLeft .User{text-align: center;margin: auto;display: block;margin-bottom: 35px;}
.Main .MainLeft .ProfileLeft .EditProfile ul{margin: 0;padding: 0;list-style-type: none;margin-bottom: 30px;}
.Main .MainLeft .ProfileLeft .EditProfile ul li i{}
.Main .MainLeft .ProfileLeft .EditProfile ul li img{height: 15px;width: 15px;color: #9FACB2}
.Main .MainLeft .ProfileLeft .EditProfile ul li{margin-bottom: 15px;padding-left: 25px;position: relative;}
.Main .MainLeft .ProfileLeft .EditProfile ul li:after{position: absolute;top: 0;bottom: 0;margin: auto;left: 0;font: normal normal normal 14px/1 FontAwesome;color: #9FACB2;font-size: 15px;display: flex;align-items: center;}
.Main .MainLeft .ProfileLeft .EditProfile ul li:first-child:after{content: "\f041";}
.Main .MainLeft .ProfileLeft .EditProfile ul li:nth-child(2):after{content: "\f19d";}
.Main .MainLeft .ProfileLeft .EditProfile ul li:nth-child(3):after{content: "\f0b1";}
.Main .MainLeft .ProfileLeft .EditProfile ul li:nth-child(4):after{content: "\f017";}
.Main .MainLeft .ProfileLeft .EditProfile ul li:nth-child(5):after{content: "\f182";}
.Main .MainLeft .ProfileLeft .EditProfile ul li:nth-child(6):after{content: "\f1fd";}
.Main .MainLeft .ProfileLeft .EditProfile ul li:nth-child(7):after{content: "\f1fd";}
.Main .MainLeft{padding-bottom: 0!important;}
.Main .MainLeft .OnlySm{display: none;}
.MainEditProfile .EditProfileMain{position: relative}
.Main .MainLeft .ProfileLeft .EditProfiles{position: absolute;top: 15px;right: 10px;}
.Main .MainLeft .ProfileLeft .EditProfiles .EditProfileBtn{background: #D17C0D;color: #ffffff;text-transform: uppercase;padding: 7px 35px;font-weight:normal;font-size:13px;line-height:17px;font-family: 'Segoe UI';border-radius: 50px;}


/*ModalCss*/



.Report .modal-title{font-size: 18px;line-height: 20px;font-weight: bold;font-family: 'Segoe UI';color: #0E2E3E;text-transform: uppercase;letter-spacing: 2px;}
.Report .close{color: #0E2E3E}
.Report label{font-size: 14px;line-height: 18px;color: #707070;font-weight: 500;letter-spacing: 2px;font-family: 'Segoe UI';}
.Report .SubmitReportBtn:hover{background: #fff;border: 1px solid #D17C0D;color: #000;transition: 0.25s all;}
.Report .SubmitReportBtn{padding: 3px 20px;background: #D17C0D;border: 1px solid #D17C0D; border-radius: 50px;color: #fff;font-size: 14px;line-height: 18px;font-weight: 300;}
.Report .SubmitReport{float: right;margin-top: 15px;}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Loud span, .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Comments span, .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Share span{cursor: pointer}


/*forgotpassword*/
/*
.ForgotpasswordHeader{padding: 15px 0px;}
.ForgotpasswordHeader .LogoForgot img{max-height: 100px;}
.ForgotPassword{background: #10303F;padding-bottom: 1px;padding-top: 20px;}
.ForgotPasswordBottom{padding-top: 30px;padding-bottom: 80px;background-image: linear-gradient(#10313E, #020000);}
.ForgotpasswordHeader .NavInner ul{padding: 0;margin: 0;list-style-type: none;}
.ForgotpasswordHeader .NavInner ul li{margin: 0px 25px;}
.ForgotpasswordHeader .NavInner ul  li:last-child{margin-right: 0;}
.ForgotpasswordHeader .NavInner ul li a{color: #fff;font-size: 14px;line-height: 20px;letter-spacing: 2px;font-weight: 600;font-family: 'Segoe UI';}
.ForgotPassword .breadcrumb{width: 100%;padding: 8px 15px;}

.ForgotPassword .breadcrumb li a{color: #000;font-size: 14px;line-height: 20px;letter-spacing: 2px;font-weight: 600;font-family: 'Segoe UI';}
.ForgotPassword .ForgotForm h1{color: #fff;font-size: 34px;line-height: 42px;letter-spacing: 2px;font-weight: 400;font-family: 'Segoe UI';}
.ForgotPassword .ForgotForm p{color: #707070;font-size: 14px;line-height: 22px;letter-spacing: 2px;font-weight: 400;font-family: 'Segoe UI';}
.ForgotPassword .ForgotForm label{color: #000;font-size: 12px;line-height: 20px;letter-spacing: 2px;font-weight: bold;font-family: 'Segoe UI';}*/



.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .AnsweredBy{margin-top: 0px!important;margin-bottom:0px!important}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .AnsweredByComments{margin-bottom: 0px!important}
.Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .AnsweredByBox .AnswerBlock{margin: 30px 0px;}

